<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/home">
            <i class="fas fa-fw fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/nhietdo">
            <i class="fas fa-fw fa-thermometer-half"></i>
            <span>Nhiệt độ</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tint"></i>
            <span>Độ ẩm đất</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-cloud"></i>
            <span>Độ khí</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-sun"></i>
            <span>Ánh sáng</span>
        </a>
    </li>
</ul>