<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEST</title>
    <%include ./partials/head%>
</head>

<body>

    Nhiet do: <p id="nhietDo"></p>
    <button id="btnOnNhietDo">On nhiet do</button>
    <button id="btnOffNhietDo">Off nhiet do</button>
    <br>
    Do am: <p id="doAm"></p><br>
    <button id="btnOnDoAm">On do am</button><br>
    Anh sang : <p id="anhSang"></p><br>
    <button id="btnOnAnhSang">On anh sang</button>
    <button id="btnOffAnhSang">Off anh sang</button>
    ph : <p id="ph"></p>
    quat1: <p id="quat"></p>
    <button id="btnOnQuat">On quat</button>
    <button id="btnOffQuat">Off quat</button>
    <br>
    quat2: <p id="quat2"></p>
    <button id="btnOnQuat2">On quat</button>
    <button id="btnOffQuat2">Off quat</button>
    <br>
    den1: <p id="den1"></p>
    <button id="btnOnDen1">On den</button>
    <button id="btnOffDen1">Off den</button>
    <br>
    den2: <p id="den2"></p>
    <button id="btnOnDen2">On den</button>
    <button id="btnOffDen2">Off den</button>
    <br>
    may bom1: <p id="maybom1"></p>
    <button id="btnOnMayBom1">On may bom</button>
    <button id="btnOffMayBom1">Off may bom</button>
    <br>
    may bom2: <p id="maybom2"></p>
    <button id="btnOnMayBom2">On may bom</button>
    <button id="btnOffMayBom2">Off may bom</button>

    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/controlAllSystems.js"></script>
</body>

</html>