<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEST</title>
    <%include ./partials/head%>
</head>

<body>

    Nhiet do: <p id="nhietDo"></p>
    <button id="btnOnNhietDo">On nhiet do</button>
    <button id="btnOffNhietDo">Off nhiet do</button>
    <br>
    Do am: <p id="doAm"></p><br>
    <button id="btnOnDoAm">On do am</button><br>
    Anh sang : <p id="anhSang"></p><br>
    <button id="btnOnAnhSang">On anh sang</button>
    <button id="btnOffAnhSang">Off anh sang</button>
    ph : <p id="ph"></p>

    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/controlAllSystems.js"></script>
</body>

</html>