<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEST</title>
    <%include ./partials/head%>
    <link rel="stylesheet" href="assets/css/styleTest.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <!--logo-->
            <img src="assets/images/logoBK.png"
                alt="Logo" style="width: 55px;">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item border border-top-0 border-left-0 border-bottom-0 border-secondary">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item border border-top-0 border-left-0 border-bottom-0 border-secondary">
                    <a class="nav-link" href="#">Ánh sáng</a>
                </li>
                <li class="nav-item border border-top-0 border-left-0 border-bottom-0 border-secondary">
                    <a class="nav-link" href="#">Nhiệt độ</a>
                </li>
                <li class="nav-item border border-top-0 border-left-0 border-bottom-0 border-secondary">
                    <a class="nav-link" href="#">Độ ẩm đất</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Độ ẩm không khí </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container" style="margin-top: 80px">
        <br>
        <div class="row">
            <div class="col-2 border text-center d-flex justify-content-center align-items-center p-3">
                <div>
                    <p class="pb-1 m-0 font-weight-bold">Nhiệt độ</p>
                    <img src="assets/images/imgIconNhietDo.png" alt="icon nhiet do" style="width:35px;"></img>
                </div>
            </div>

            <div class="col-6 border-left-0 jus justify-content-center d-flex align-items-center border p-3">
                <p class="nhietDo m-0 font-weight-bold"><span id="nhietDo"></span>&deg;C</p>
            </div>
            <div class="col-4 border-top border-bottom border-left-0 border-right text-center d-flex justify-content-center p-3 align-items-center">
                <div>
                <div id="deMuc" class="font-weight-bold pb-1">Trạng thái cảnh báo</div>
                <img id="imgCanhBao" src="assets/images/caution.png"
                    style="width:4em"></img>
                <img id="imgOnDinh"
                    src="assets/images/cautionOD.jpg"
                    style="width:4em"></img>
                </div>
            </div>
        </div>
<br>
        <div class="row ">

            <div class="col-4 d-flex justify-content-center align-items-center border border-bottom-0 text-center p-3">
                <div>
                <p class="m-0 pb-1 font-weight-bold" id="deMuc">Mức cảnh báo</p>
                <div class="input-group mb-3">
                    <input id="inputMucND" class="form-control" type="text" value="40" placeholder="Data">
                    <div class="input-group-append">
                        <button id="btnSetMucND" class="btn btn-success pl-3 pr-3" type="submit">Set</button>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-8 d-flex justify-content-center align-items-center p-3 border border-left-0 border-bottom-0 text-center">
                <div>
                    <i class="fas fa-fan mb-2" style="font-size: 5em;"></i><br>
                    <div class="pt-1">
                        <button id="btnOnNhietDo" class="btn btn-outline-primary text-center" style="width: 60px;">ON</button>
                        <button id="btnOffNhietDo" class="btn btn-outline-dark text-center" style="width: 60px;">OFF</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 border p-0">
                <div class="row">
                    <div id="deMuc" class="col-6 font-weight-bold border-right-0 pt-2 pb-2 d-flex align-items-center  border-bottom-0">
                        Thống kê
                    </div>
                    <div id="deMuc" class="col-6 font-weight-bold border-left d-flex align-items-center border-bottom-0">
                        Chỉnh ngày tháng
                    </div>
                </div>
            </div>
            <div id="deMuc" class="col-6 border border-right-0 border-top-0">
                <p class=" font-weight-bold pt-2 pb-1 m-0">Biểu đồ</p>
                <canvas id="chLine" class="pb-2" width="400" height="300"></canvas>
            </div>
            <div id="deMuc" class="col-6 border border-top-0">
                <p class=" font-weight-bold pt-2 pb-1 m-0">Lịch sử</p>
                <div class="container p-0">

                    <table class="table table-dark table-striped small mb-2">
                        <thead>
                            <tr>
                                <th>Ngày</th>
                                <th>Thời gian</th>
                                <th>Chỉ số</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>29/11/2019</td>
                                <td>9:50 AM</td>
                                <td>28.89</td>
                                <td>OFF</td>
                            </tr>
                            <tr>
                                <td>29/11/2019</td>
                                <td>9:50 AM</td>
                                <td>28.89</td>
                                <td>OFF</td>
                            </tr>
                            <tr>
                                <td>29/11/2019</td>
                                <td>9:50 AM</td>
                                <td>28.89</td>
                                <td>OFF</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <br>
        <!--         
        Nhiet do: <p id="nhietDo"></p>
        <button id="btnOnNhietDo">On nhiet do</button>
        <button id="btnOffNhietDo">Off nhiet do</button>
        <br>
        Do am: <p id="doAm"></p><br>
        <button id="btnOnDoAm">On do am</button><br>
        Anh sang : <p id="anhSang"></p><br>
        <button id="btnOnAnhSang">On anh sang</button>
        <button id="btnOffAnhSang">Off anh sang</button>
        ph : <p id="ph"></p>
        quat1: <p id="quat"></p>
        <button id="btnOnQuat">On quat</button>
        <button id="btnOffQuat">Off quat</button>
        <br>
        quat2: <p id="quat2"></p>
        <button id="btnOnQuat2">On quat</button>
        <button id="btnOffQuat2">Off quat</button>
        <br>
        den1: <p id="den1"></p>
        <button id="btnOnDen1">On den</button>
        <button id="btnOffDen1">Off den</button>
        <br>
        den2: <p id="den2"></p>
        <button id="btnOnDen2">On den</button>
        <button id="btnOffDen2">Off den</button>
        <br>
        may bom1: <p id="maybom1"></p>
        <button id="btnOnMayBom1">On may bom</button>
        <button id="btnOffMayBom1">Off may bom</button>
        <br>
        may bom2: <p id="maybom2"></p>
        <button id="btnOnMayBom2">On may bom</button>
        <button id="btnOffMayBom2">Off may bom</button> -->
    </main>

    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/controlAllSystems.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var chartData = {
            labels: ["S","S","S","S","S","S", "M", "T", "W", "T", "F", "S"],
            datasets: [{
                data: [589, 445, 483, 503, 689, 692,2,4,5,5,6,6,6,7,7, 634],
            }
            
                ]
        };
        var chLine = document.getElementById("chLine");
        if (chLine) {
            new Chart(chLine, {
                type: 'line',
                data: chartData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>
</body>

</html>