<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Classic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!-- js -->
    <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->

    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
    <link rel="stylesheet" href="assets/css/style1.css" type="text/css">
</head>

<body background="assets/images/background1.jpg">
    <script src="assets/js/jquery.vide.min.js"></script>

    <div class="navbar navbar-expand-sm bg-dark navbar-dark font-header fixed-top">
        <a class="navbar-brand" target="_blank" href="http://www.hcmut.edu.vn/">
            <img class="imageLogo" src="assets/images/logo.png" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- main -->
    <div>
        <div class="center-container">
            <!--header-->
            <div class="header-w3l">
                <h1>The Smart Street Light and Traffic systems based on Cloud Computing</h1>
            </div>
            <!--//header-->
            <div class="main-content-agile">
                <div class="sub-main-w3">
                    <div class="wthree-pro">
                        <h2>Login Here</h2>
                    </div>
                    <form action="/login" method="post">
                        <input placeholder="E-mail" name="email" class="user" type="email" required="">
                        <span class="icon1"></span><br><br>
                        <input placeholder="Password" name="password" class="pass" type="password" required="">
                        <span class="icon2"></span><br>
                        <div class="sub-w3l">
                            <div class="right-w3l">
                                <input type="submit" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--//main-->

        </div>
    </div>

</body>

</html>