<!DOCTYPE html>
<html lang="en">

<head>
    <title>Traffic Lamp</title>
    <%include ../partials/head%>
    <link rel="stylesheet" href="assets/css/styleTrafficLamp.css" type="text/css">

</head>

<body>
    <header>
        <%include ../partials/header%>
    </header>

    <main style="margin-top:90px">
        <div>
            <div class="row">
                <div class="col-md-2 divCol2">
                    <div>
                        <p class="topicCAS">Control All Systems</p>
                    </div>
                    <div class="odieukhienhethong" title="container" data-toggle="tooltip" data-placement="top">
                        <button id="btnTurnOnAllTraffics" type="button" class="btn btn-danger buttonden">On</button>
                        <button id="btnTurnOffAllTraffics" type="button" class="btn btn-dark buttonden">Off</button>
                    </div>
                </div>
                <div class="col-md-10 divCol10" style="max-height: 630px; overflow-y: scroll">
                    <div style="margin-top:20px">
                        <div class="containerflex" title="container" data-toggle="tooltip" data-placement="top">
                            <div style="width:100%">
                                <div>
                                    <p class="topic">CrossRoads I</p>
                                </div>
                                <div class="dieukhienngatu">
                                    <button id="btnTurnOnCrI" type="button" class="btn btn-danger buttonden"
                                        style="margin-right:10px">On</button>
                                    <button id="btnTurnOffCrI" type="button" class="btn btn-dark buttonden">Off</button>
                                </div>
                            </div>
                            <div class="khungthoigian" title="container" data-toggle="tooltip" data-placement="top">

                                <div class="systemsettime">
                                    <p>Green 1-6:</p>
                                    <p id="timeGreenAI" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenAI" value="13" type="number" class="settime">
                                </div>

                                <div class="systemsettime">
                                    <p>Yellow 1-6:</p>
                                    <p id="timeYellowAI" style="margin-left:10px;color: gold">0</p>                                    
                                    <input id="setTimeYellowAI" value="3" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Green 3-4:</p>
                                    <p id="timeGreenBI" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenBI" value="11" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Yellow 3-4:</p>
                                    <p id="timeYellowBI" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowBI" value="2" type="number" class="settime">
                                </div>
                                <div style="width:100%">
                                    <div class="setnut1">
                                        <input id="setTimeI" type="button" value="Set"
                                            style="width:80px;height:35px;margin-left: 1%">
                                    </div>
                                </div>

                            </div>
                            <div class="khungChuaDen" title="container" data-toggle="tooltip" data-placement="top">
                                <div class="truden">
                                    <p style="color:white; text-align: center;font-weight: bold;">Street 1</p>
                                    <div id="Istr1Red" class="light redDim"></div>
                                    <div id="Istr1Yellow" class="light yellowDim"></div>
                                    <div id="Istr1Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 3</p>
                                    <div id="Istr3Red" class="light redDim"></div>
                                    <div id="Istr3Yellow" class="light yellowDim"></div>
                                    <div id="Istr3Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 6</p>
                                    <div id="Istr6Red" class="light redDim"></div>
                                    <div id="Istr6Yellow" class="light yellowDim"></div>
                                    <div id="Istr6Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 4</p>
                                    <div id="Istr4Red" class="light redDim"></div>
                                    <div id="Istr4Yellow" class="light yellowDim"></div>
                                    <div id="Istr4Green" class="light greenDim"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="margin-top:20px">
                        <div class="containerflex" title="container" data-toggle="tooltip" data-placement="top">
                            <div style="width:100%">
                                <div>

                                    <p class="topic">CrossRoads II</p>

                                </div>
                                <div class="dieukhienngatu">
                                    <button id="btnTurnOnCrII" type="button" class="btn btn-danger buttonden"
                                        style="margin-right:10px">On</button>
                                    <button id="btnTurnOffCrII" type="button"
                                        class="btn btn-dark buttonden">Off</button>
                                </div>
                            </div>
                            <div class="khungthoigian" title="container" data-toggle="tooltip" data-placement="top">

                                <div class="systemsettime">
                                    <p>Green 2-7:</p>
                                    <p id="timeGreenAII" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenAII" value="15" type="number" class="settime">
                                </div>

                                <div class="systemsettime">
                                    <p>Yellow 2-7:</p>
                                    <p id="timeYellowAII" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowAII" value="3" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Green 4-5:</p>
                                    <p id="timeGreenBII" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenBII" value="14" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Yellow 4-5:</p>
                                    <p id="timeYellowBII" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowBII" value="3" type="number" class="settime">
                                </div>
                                <div style="width:100%">
                                    <div class="setnut1">
                                        <input id="setTimeII" type="button" value="Set"
                                            style="width:80px;height:35px;margin-left: 1%">
                                    </div>
                                </div>
                            </div>
                            <div class="khungChuaDen" title="container" data-toggle="tooltip" data-placement="top">
                                <div class="truden">
                                    <p style="color:white; text-align: center;font-weight: bold;">Street 2</p>
                                    <div id="IIstr2Red" class="light redDim"></div>
                                    <div id="IIstr2Yellow" class="light yellowDim"></div>
                                    <div id="IIstr2Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 4</p>
                                    <div id="IIstr4Red" class="light redDim"></div>
                                    <div id="IIstr4Yellow" class="light yellowDim"></div>
                                    <div id="IIstr4Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 7</p>
                                    <div id="IIstr7Red" class="light redDim"></div>
                                    <div id="IIstr7Yellow" class="light yellowDim"></div>
                                    <div id="IIstr7Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 5</p>
                                    <div id="IIstr5Red" class="light redDim"></div>
                                    <div id="IIstr5Yellow" class="light yellowDim"></div>
                                    <div id="IIstr5Green" class="light greenDim"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="margin-top:20px">
                        <div class="containerflex" title="container" data-toggle="tooltip" data-placement="top">
                            <div style="width:100%">
                                <div>

                                    <p class="topic">CrossRoads III</p>

                                </div>
                                <div class="dieukhienngatu">
                                    <button id="btnTurnOnCrIII" type="button" class="btn btn-danger buttonden"
                                        style="margin-right:10px">On</button>
                                    <button id="btnTurnOffCrIII" type="button"
                                        class="btn btn-dark buttonden">Off</button>
                                </div>
                            </div>
                            <div class="khungthoigian" title="container" data-toggle="tooltip" data-placement="top">

                                <div class="systemsettime">
                                    <p>Green 6-11:</p>
                                    <p id="timeGreenAIII" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenAIII" value="14" type="number" class="settime">
                                </div>

                                <div class="systemsettime">
                                    <p>Yellow 6-11:</p>
                                    <p id="timeYellowAIII" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowAIII" value="3" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Green 8-9:</p>
                                    <p id="timeGreenBIII" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenBIII" value="15" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Yellow 8-9:</p>
                                    <p id="timeYellowBIII" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowBIII" value="4" type="number" class="settime">
                                </div>
                                <div style="width:100%">
                                    <div class="setnut1">
                                        <input id="setTimeIII" type="button" value="Set"
                                            style="width:80px;height:35px;margin-left: 1%">
                                    </div>
                                </div>
                            </div>
                            <div class="khungChuaDen" title="container" data-toggle="tooltip" data-placement="top">
                                <div class="truden">
                                    <p style="color:white; text-align: center;font-weight: bold;">Street 6</p>
                                    <div id="IIIstr6Red" class="light redDim"></div>
                                    <div id="IIIstr6Yellow" class="light yellowDim"></div>
                                    <div id="IIIstr6Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 8</p>
                                    <div id="IIIstr8Red" class="light redDim"></div>
                                    <div id="IIIstr8Yellow" class="light yellowDim"></div>
                                    <div id="IIIstr8Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 11</p>
                                    <div id="IIIstr11Red" class="light redDim"></div>
                                    <div id="IIIstr11Yellow" class="light yellowDim"></div>
                                    <div id="IIIstr11Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 9</p>
                                    <div id="IIIstr9Red" class="light redDim"></div>
                                    <div id="IIIstr9Yellow" class="light yellowDim"></div>
                                    <div id="IIIstr9Green" class="light greenDim"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="margin-top:20px">
                        <div class="containerflex" title="container" data-toggle="tooltip" data-placement="top">
                            <div style="width:100%">
                                <div>

                                    <p class="topic">CrossRoads IV</p>

                                </div>
                                <div class="dieukhienngatu">
                                    <button id="btnTurnOnCrIV" type="button" class="btn btn-danger buttonden"
                                        style="margin-right:10px">On</button>
                                    <button id="btnTurnOffCrIV" type="button"
                                        class="btn btn-dark buttonden">Off</button>
                                </div>
                            </div>
                            <div class="khungthoigian" title="container" data-toggle="tooltip" data-placement="top">

                                <div class="systemsettime">
                                    <p>Green 7-12:</p>
                                    <p id="timeGreenAIV" style="margin-left:10px;color:green">0</p>
                                    <input id="setTimeGreenAIV" value="13" type="number" class="settime">
                                </div>

                                <div class="systemsettime">
                                    <p>Yellow 7-12:</p>
                                    <p id="timeYellowAIV" style="margin-left:10px;color:gold">0</p>
                                    <input id="setTimeYellowAIV" value="3" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Green 9-10:</p>
                                    <p id="timeGreenBIV" style="margin-left:10px;color: green">0</p>
                                    <input id="setTimeGreenBIV" value="13" type="number" class="settime">
                                </div>
                                <div class="systemsettime">
                                    <p>Yellow 9-10:</p>
                                    <p id="timeYellowBIV" style="margin-left:10px;color: gold">0</p>
                                    <input id="setTimeYellowBIV" value="2" type="number" class="settime">
                                </div>
                                <div style="width:100%">
                                    <div class="setnut1">
                                        <input id="setTimeIV" type="button" value="Set"
                                            style="width:80px;height:35px;margin-left: 1%">
                                    </div>
                                </div>
                            </div>
                            <div class="khungChuaDen" title="container" data-toggle="tooltip" data-placement="top">
                                <div class="truden">
                                    <p style="color:white; text-align: center;font-weight: bold;">Street 7</p>
                                    <div id="IVstr7Red" class="light redDim"></div>
                                    <div id="IVstr7Yellow" class="light yellowDim"></div>
                                    <div id="IVstr7Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 9</p>
                                    <div id="IVstr9Red" class="light redDim"></div>
                                    <div id="IVstr9Yellow" class="light yellowDim"></div>
                                    <div id="IVstr9Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 12</p>
                                    <div id="IVstr12Red" class="light redDim"></div>
                                    <div id="IVstr12Yellow" class="light yellowDim"></div>
                                    <div id="IVstr12Green" class="light greenDim"></div>
                                </div>
                                <div class="truden">
                                    <p style="color:white;text-align: center;font-weight: bold;">Street 10</p>
                                    <div id="IVstr10Red" class="light redDim"></div>
                                    <div id="IVstr10Yellow" class="light yellowDim"></div>
                                    <div id="IVstr10Green" class="light greenDim"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </main>
    <script src="socket.io/socket.io.js"></script>

    <script src="assets/jsClient/controlAllSystems.js"></script>
</body>

</html>