<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <%include ../partials/head%>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    <%include ../partials/header%>

    <div id="wrapper">
        <%include ../partials/sidebar%>
        <div id="content-wrapper">
            <!-- Contents -->

            <%include ../partials/footer%>
        </div>
    </div>

    <%include ../partials/script%>
</body>

</html>