<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <%include ../partials/head%>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    <%include ../partials/header%>

    <div id="wrapper">
        <%include ../partials/sidebar%>


        <div id="content">
                <img class="img-fluid img-thumbnail" src="assets/images/background1.jpg" alt="background1">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <i class="far fa-sun fa-spin"></i>
                        <h2>LUẬN VĂN TỐT NGHIỆP</h2>
                    </div>
                </div>

            <!-- Contents -->

            
        </div>
        <%include ../partials/footer%>
    </div>

    <%include ../partials/script%>
</body>

</html>