@charset "utf-8";
.topic {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topicCAS {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 50px;
}

.phanchia {
    border-style: groove;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    padding-right: 10px;
    border-right-color: rgba(0, 0, 0, 0.1)
}

.truden {
    background-color: black;
    width: 100px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.dieukhienngatu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 1px 1px 1px 1px;
    margin-bottom: 10px;
}

.light {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    margin-top: 10px;
    margin-left: 15px;
}

.khungChuaDen {
    display: flex;
    /*Kích hoạt flexbox*/
    flex-direction: row;
    /*Thiết lập hướng chính*/
    flex-wrap: wrap;
    /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: center;
    /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;
    /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/
    padding: 5px 1px 5px 1px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #d2c7c7;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

.khungthoigian {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #d2c7c7;
    border-bottom-style: hidden;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.buttonden {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.odieukhienhethong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
    margin-bottom: 50px
}

.containerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
    margin: 13px;
    height: auto;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #d2c7c7;
    background-color: #f9e7e7;
}

.settime {
    width: 45px;
    height: 30px;
    margin-top: 2px;
    text-align: center;
    font-weight: 500;
    border-style: groove;
    float: right;
}

/* @media (max-width: 480px) and (min-width: 320px) {
    .systemsettime {
        margin-left: 95px;
    }
}
@media (max-width: 520px) and (min-width: 480px) {
    .systemsettime {
        margin-left: 26%;
    }
}
@media (max-width: 800px) and (min-width: 480px) {
    .systemsettime {
        margin-left: 100px;
    }
}
@media (max-width: 1100px) and (min-width: 800px) {
    .systemsettime {
        margin-left: 50px;
    }
}
@media (max-width: 1290px) and (min-width: 1100px) {
    .systemsettime {
        margin-left: 100px;
    }
}
@media (max-width: 1900px) and (min-width: 1290px) {
    .systemsettime {
        margin-left: 20px;
    }
} */

.systemsettime {
    width: 220px;
    height: 45px;
    margin-top: 10px;
    padding-right: 25px;
    padding-left: 60px;
}

.systemsettime p {
    font-weight: bold;
    float: left;
}

.divCol2 {
    background-color: dimgray;
    border: 2px solid white;
    border-radius: 5px;
}

.divCol10 {
    background-color: #eeeeef;
    border: 2px solid white;
    border-radius: 5px;
}

.greenDim {
    background-color: #113311;
}

.yellowDim {
    background-color: #222211;
}

.redDim {
    background-color: #331111;
}

.redLight {
    background-color: #EE0000;
}

.yellowLight {
    background-color: #DDDD00;
}

.greenLight {
    background-color: #00ee00;
}