@charset "utf-8";
.den {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid #ACACAC;
    margin: 4px;
    float: left;
    text-align: center;
}

.khungChuaDen {
    display: flex;
    /*Kích hoạt flexbox*/
    flex-direction: row;
    /*Thiết lập hướng chính*/
    flex-wrap: wrap;
    /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: center;
    /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;
    /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/
    padding: 5px;
    height: auto;
    width: auto;
    border-style: groove;
    border-left-style: hidden;
    border-right-style: hidden;
}

.containerflex {
    display: flex;
    /*Kích hoạt flexbox*/
    flex-direction: row;
    /*Thiết lập hướng chính*/
    flex-wrap: wrap;
    /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: center;
    /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;
    /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/
    padding: 5px;
    height: auto;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #d2c7c7;
    background-color: white;
}

.topic {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topicCAS {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 50px;
}

.buttonden {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.ochua2duong {
    margin-top: 20px
}

.odieukhienhethong {
    display: flex;
    /*Kích hoạt flexbox*/
    flex-direction: row;
    /*Thiết lập hướng chính*/
    flex-wrap: wrap;
    /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: center;
    /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;
    /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/
    padding: 5px;
    margin-bottom: 50px
}

.divCol2 {
    background-color: dimgray;
    border: 2px solid white;
    border-radius: 5px;
}

.divCol10 {
    background-color: #eeeeef;
    border: 2px solid white;
    border-radius: 5px;
}

.classYellow {
    background-color: #ffff5d;
    border-color: #f9f619;
}

.classWhite {
    background-color: white;
}

.classRed {
    background-color: red;
    border-color: #cc2b2b;
}

.classStreetRed {
    border-radius: 5px;
    background-color: #fd9393;
}